body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}

p {
  line-height: 30px !important;
  font-size: 17px !important;
  font-weight: 200 !important;
}

#nav-links {
  color: #99a8b2;
}

#nav-links:hover {
  text-decoration: none;
  color: #f1f6f9;
}


.logo {
  display: block;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

#heading-main {
  font-family: 'Dancing Script', cursive;
}


/* Pen Image CSS */

@media (max-width: 600px) {
  #pen-image {
    max-width: 75% !important;
    height: auto !important;
  }
}

@media (min-width: 600px) {
  #pen-image {
    max-width: 75%;
    height: auto;
  }
}


hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #214252; /* old IE */
    background-color: #214252; /* Modern Browsers */
}

#footer {
  color: white;
  font-size: 13px;
}
