<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
<html lang="en-us" dir="ltr">

<head>
  {% block title %}
  <meta name="description" content="We are a small company whose sole purpose is to provide info to pen lovers
    like us.">
  <title>About Us</title>
  {% endblock %}
</head>
<!--  -->

<body>
  {% block body_block %}
  <div class="container" style="margin-bottom: 239px;">
    <h1 id="heading-main" class="text-center">About Us</h1>
    <main>
      <p>We are a small company whose sole purpose is to provide info to pen lovers
        like us. While we do disclose that we make money using the Amazon Affiliate program,
        we make sure that the products we endorse are simply the best. We will make sure we
        do all the research for you, so you don't have to go and research what kind of pen
        you need, because let's admit it; researching pens is not the most exciting task.
      </p>
    </main>
  </div>
  {% endblock %}
  {% block footer %}
  <footer id="footer" class="page-footer font-small bg-dark" style="position: fixed; left: 0; bottom: 0; width: 100%;">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a id="nav-links" class="mb-3" href="https://www.pensdistrict.com"> pensdistrict.com</a>
      <div class="container mt-2">
        <p class="disclaimer" style="font-size: 13px !important;"><em>We are a participant in the Amazon Associates Program, an affiliate advertising program designed to provide a means for us to earn fees by qualifying leads.</em></p>
      </div>
      <ul class="list-inline">
        <li class="list-inline-item"><a id="nav-links" href="/about">About</a></li>
        <li class="list-inline-item"><a id="nav-links" href="/contact">Contact</a></li>
        <li class="list-inline-item"><a id="nav-links" href="/privacy-policy">Privacy Policy</a></li>
      </ul>
    </div>
  </footer>
  {% endblock %}
</body>

</html>