<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
<html lang="en-us" dir="ltr">

<head>
</head>

<body>
  {% block body_block %}
  <div class="container text-center mb-5 pb-5">
    <header>
      <h2 id="heading-main" class="display-4 text-center mb-5">Contact Us On The Email Below</h2>
    </header>
    <main>
      <strong>pensdistrict[@]gmail[.]com</strong> <br>
      <em>Note: The brackets are just to prevent scams. While emailing us, you should not include them</em>
    </main>
  </div>
  {% endblock %}
</body>

</html>