<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
<html lang="en-us" dir="ltr">

<head>
  {% block title %}
  <meta name="description" content="{{post.meta_description}}">
  <title>{{post.post_name}}</title>
  {% endblock %}
</head>

<body>
  {% block body_block %}

  <main>
    <div class="container" itemscope itemtype="http://schema.org/WebPage">
      <div class="row">
        <div class="col-md-8">

          <!-- header -->
          <header>
            <h1 id="heading-main" class="display-4">{{post.post_name}}</h1>
            <h2 style="font-size: 20px; color: rgba(117, 117, 117, 1);">{{post.excerpt}}</h2>
            <time itemprop="lastReviewed" class="d-block mb-3" datetime="{{post.date}}" style="color: rgba(117, 117, 117, 1); font-size: 15px;">{{post.date | date:"d F Y"}}</time>
            <img itemprop="primaryImageOfPage" src="{{post.featured_image.url}}" alt="This is the feaured image of the {{post.post_name}} post." class="img-fluid mb-4">
          </header>
          <article class="mt-2 mb-3">
            {{post.starting_content|safe}}
          </article>

          <!-- Table of Contents -->
          <div class="card mb-4" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Table of Contents</h5>
              <ol itemscope itemtype="http://schema.org/BreadcrumbList" style="color: rgba(117, 117, 117, 1);">
                {% for pen in pens %}
                <li itemprop="breadcrumb" class="card-text"><a href="#pen-{{pen.pen_name}}" style="color: rgba(117, 117, 117, 1);">{{pen.pen_name}}</a></li>
                {% endfor %}
                <li class="card-text"><a href="#conclusion" style="color: rgba(117, 117, 117, 1);">Conclusion & More</a></li>
              </ol>
            </div>
          </div>
          <hr>

          <!-- Main Content -->
          <article itemprop="mainContentOfPage" class="mt-5">
            {% for pen in pens %}

            <!-- CTA -->
            <div class="card text-center mb-5 mt-5" style="border-radius: 50px; border-width: 4px; border-color: #343a40">
              <div id="pen-{{pen.pen_name}}" class="card-body">
                <h2 itemprop="itemReviewed" itemscope itemtype="http://schema.org/ListItem" id="heading-main" class="display-4 text-center mb-2">
                  <div itemprop="name">{{pen.pen_name}}</div>
                </h2>
                <p class="card-text">{{pen.button_copy}}</p>
                <p><strong>Our Rating: {{pen.rating}}/5</strong></p>
                <a itemprop="url" id="action-button" href="{{pen.amazon_link}}" target="_blank" class="btn btn-warning" style="background-color: #FF9900;"><span><i class="fa fa-amazon"></i></span> Buy Now <br>$ {{pen.price}}</a>
              </div>
            </div>

            <!-- Content and Image-->
            <img id="pen-image" class="rounded mx-auto d-block mt-4 mb-4" src="{{pen.pen_image.url}}" alt="This is the image of {{pen.pen_name}} pen">
            <div itemprop="reviewBody">
              {{pen.post_content|safe}}
            </div>

            {% endfor %}
            <div id="conclusion" class="mt-5 mb-5">
              {{ post.conclusion|safe }}
            </div>
          </article>
          <p itemprop="author" id="heading-main" class="d-block mb-3">Written by {{post.author}}</p>
          <hr>
        </div>
        <!-- Side Nav Articles -->
        <div class="col-md-4">
          <h2 class="ml-5 mt-3">Recommended</h2>
          {% for sidenav in sidenav_posts %}
          <div class="card w-75 ml-5 mt-3 m-3" style="border-width: 0;">
            <a href="/{{sidenav.category | slugify}}/{{sidenav.slug}}">
              <img src="{{sidenav.featured_image.url}}" class="card-img-top mb-1" alt="showing recommended article{{sidenav.post_name}} in the nav">
              <h5 id="heading-main" class="card-text mb-2" style="color: black;">{{sidenav.post_name}}</h5>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </main>
  {% endblock %}
</body>

</html>